{% load crispy_forms_tags%}

  <!-- ======= Property Search Section ======= -->
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a" method="get" action="{% url 'search' %}">
        <div class="row">


          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-1" >{{form.label}}</label>
          {{filtered.form | crispy}}
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Property</button>
          </div>

        </div>
      </form>
    </div>
  </div><!-- End Property Search Section -->>

  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{% url 'Home'%}">Estate<span class="color-b">Agency</span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link " href="{% url 'Home'%}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'property_list'%}">Property</a>
          </li>

          {% if request.user.is_authenticated%}
          <li class="nav-item">
          <a class="nav-link " href="{% url 'property_create'%}">Create Property</a>
          </li>
          {% endif %}


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu">
              {% if request.user.is_superuser%}
              <a class="dropdown-item " href="{% url 'admin:index'%}">Admin</a>
              {%endif%}
              {% if request.user.is_authenticated%}
              <a class="dropdown-item " href="{% url 'profile'%}">Profile</a>
              <a class="dropdown-item " href="{% url 'agent_property_list' request.user.id%}">My Properties</a>
              <a class="dropdown-item " href="{% url 'logout'%}">Logout</a>
              {% else %}
              <a class="dropdown-item " href="{%url 'login'%}">Login</a>
              <a class="dropdown-item " href="{% url 'register'%}">Register</a>
              {%endif%}

              <a class="dropdown-item " href="{% url 'agent_list'%}">Agents List</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://wa.me/+234806007606">Contact</a>
          </li>
        </ul>
      </div>

      <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
        <i class="bi bi-search"></i>
      </button>

    </div>
  </nav><!-- End Header/Navbar -->